In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook

Load dataset

In [2]:
data = pd.read_csv("dataset.csv", index_col="dates")
data.index = pd.to_datetime(data.index, format="%Y-%m-%d %H:%M:%S.%f")
data

                             P       T
dates
2000-01-01 00:00:00.000  4.461  76.000
2000-01-01 00:04:38.500  4.469  77.062
2000-01-01 00:07:32.500  4.484  77.375
2000-01-01 00:08:25.000  4.477  77.375
2000-01-01 00:40:12.500  4.461  77.000
...                        ...     ...
2001-12-15 15:55:09.000  3.883  72.250
2001-12-15 16:07:29.500  3.867  72.375
2001-12-15 16:14:00.000  3.875  72.875
2001-12-15 16:16:30.000  3.883  72.625
2001-12-15 16:18:48.000  3.914  72.250

[10399 rows x 2 columns]

Load change points

In [3]:
cps = pd.read_csv("change_points.csv")
cps["change_points_dates"] = pd.to_datetime(cps["change_points_dates"], format="%Y-%m-%d %H:%M:%S.%f")
cps

      change_points_dates
0 2000-03-08 08:49:37.500
1 2000-06-07 07:54:33.750
2 2000-09-03 09:30:45.000
3 2000-12-02 05:32:15.000
4 2001-03-02 06:11:12.750
5 2001-05-29 17:19:57.500
6 2001-08-29 19:25:40.750
7 2001-11-28 05:14:56.000